<!-- banner -->
<div class="container">
  <!--Slider-->
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="slider-img">
            <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/three-doctors-waving-greeting-flat-design-cartoon-character_syzwqr6hog_thumbnail-full01.png" class="img-responsive" alt="Fantasy World">
          </div>
          <div class="slider-info">

            <h4>Dragon Fin Soup Ridding </h4>
            <p>World building is component of fantasy </p>
            <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
          </div>
        </li>
        <li>
          <div class="slider-img">
            <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/three-doctors-waving-greeting-flat-design-cartoon-character_syzwqr6hog_thumbnail-full01.png" class="img-responsive" alt="Fantasy World">
          </div>
          <div class="slider-info">

            <h4>Girl Dragon fantasy sword wing</h4>
            <p>World building is component of fantasy </p>
            <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
          </div>
        </li>
        <li>
          <div class="slider-img">
            <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/three-doctors-waving-greeting-flat-design-cartoon-character_syzwqr6hog_thumbnail-full01.png" class="img-responsive" alt="Fantasy World">
          </div>
          <div class="slider-info">

            <h4>Danger bear guy pistol moment</h4>
            <p>World building is component of fantasy </p>
            <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
          </div>
        </li>


      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
  <!--//Slider-->
</div>
<!-- //banner -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Contracts</h4>
        <img src="/assets/ab.jpg" alt=" " class="img-responsive">
        <h5>Donec lobortis pharetra dolor</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
      </div>
    </div>
  </div>
</div>
<!-- //Modal1 -->

<!-- about -->
<div class="about" id="about">
  <div class="container">
    <div class="col-md-4 agileits_about_left">
      <h3 class="w3l_head">About Us</h3>
      <p class="w3ls_head_para">who we are</p>
    </div>
    <div class="agileits_banner_bottom_grids">
      <div class="col-md-6 agileits_banner_bottom_grid_l">
        <h4>Aliquam a nunc non erat lobortis</h4>
        <p><i>I'm a dedicated RPT offering 17 years of acute-care, sub-acute care, outpatient, SNF, home health care. A history of "exemplary" ratings on performance reviews; trilingual fluency (Spanish, Creole); and solid credentials that include dual-state licensure (FL,Ma), BLS/CPR, Autism Navigator certifications. Background includes work with pediatric, adolescent, adult and geriatric patients.</i>Well-versed in a broad range of PT programs, treatments and modalities restoring function and mitigating disability for diseased and injured patients. Excellent interpersonal/communication skills and proficiency in patient assessment, time management and therapy-program design/execution. Enthusiastic team player, deeply committed to delivering quality care and achieving superior patient outcomes as a member of a multidisciplinary case-management team.
        </p>
      </div>
      <div class="col-md-6 agileits_banner_bottom_grid_r">
        <div class="agileits_banner_btm_grid_r">
          <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" alt=" " class="img-responsive" id="about-img">
          <div class="agileits_banner_btm_grid_r_pos">
            <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.licdn.com%2Fmpr%2Fmpr%2Fshrinknp_200_200%2FAAEAAQAAAAAAAAOfAAAAJDUzNWRlZDgzLTM4MDUtNGM4NC04MGYwLTcyYmYyY2VhOWFlNw.jpg&f=1" alt=" " class="img-responsive" id="about-img2">
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //about-bottom -->
<!-- services -->
<div class="services" id="services">
  <h3 class="w3l_head w3l_head1">Services</h3>
  <p class="w3ls_head_para w3ls_head_para1">View Our Services</p>
  <div class="services-agile-w3l">
    <div class="col-md-3 services-gd text-center">
      <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
        <a href="#" class="hi-icon"><img src="assets/nurse.ico" class="service-icon" alt="nurse" /></a>
      </div>
      <h4>Physicians</h4>
      <p>We provide a multi-disciplinary approach, working closely with physicians, fellow therapists and family members.</p>
    </div>

    <div class="col-md-3 services-gd text-center">
      <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
        <a href="#" class="hi-icon"><img src="/assets/wheelchair.png" alt="wheelchair" class="service-icon"/></a>
      </div>
      <h4>Disability</h4>
      <p>We provide continuum to return to work via vocational rehab following disability.</p>
    </div>
    <div class="col-md-3 services-gd text-center">
      <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
        <a href="#" class="hi-icon"><img src="/assets/globe.ico" alt="globe" class="service-icon"/></a>
      </div>
      <h4>International</h4>
      <p>We provide international clients with evaluations and follow up treatment plans to assist the attainment or regain in development and functional abilities.</p>
    </div>
    <div class="col-md-3 services-gd text-center">
      <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
        <a href="#" class="hi-icon"><img src="assets/referral.png" alt="referral" class="service-icon"/></a>
      </div>
      <h4>Referrals</h4>
      <p>Nutrition referrals and consults with a naturopath for a wide range of diagnosis from childhood to geriatrics.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //services -->

<!-- gallery -->
<div class="team-bottom" id="work">
  <div class="container">
    <h3 class="w3l_head w3l_head1">Latest Gallery</h3>
    <p class="w3ls_head_para w3ls_head_para1">Exercise Gallery</p>
    <div class="w3layouts_gallery_grids">
      <ul class="w3l_gallery_grid" id="lightGallery">
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/8.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/9.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/10.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/11.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" data-responsive-src="/assets/12.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/13.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/14.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/15.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" data-responsive-src="/assets/16.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout.jpg?raw=true" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext"> Generation Rehab Services</h4>

              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //gallery -->
<!-- projects -->
<div class="projects" id="projects">
  <div class="container">
    <div class="port-head">
      <h3 class="w3l_head w3l_head1">Latest News</h3>
      <p class="w3ls_head_para w3ls_head_para1">View Our Blog</p>
    </div>
  </div>
  <div class="projects-grids">
    <div class="sreen-gallery-cursual">

      <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">

              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">

              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">

              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">

              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">

              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">

              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">

              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="projects-agile-grid-info">
            <img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy1.jpg?raw=true" alt="nancy"  id="carousel-img"/>
            <div class="projects-grid-caption">
              <h4>Fantasy World</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //projects -->
<!-- mail -->
<div class="mail" id="mail">
  <div class="container">
    <h3 class="w3l_head w3l_head1">Contact Us</h3>
    <p class="w3ls_head_para w3ls_head_para1">send us a message</p>
    <div class="w3_mail_grids">
      <form action="#" method="post">
        <div class="col-md-6 w3_agile_mail_grid">
          <span class="input input--ichiro">
            <input class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" " required="">
            <label class="input__label input__label--ichiro" for="input-25">
              <span class="input__label-content input__label-content--ichiro">Your Name</span>
          </label>
          </span>
          <span class="input input--ichiro">
            <input class="input__field input__field--ichiro" type="email" id="input-26" placeholder=" " required="">
            <label class="input__label input__label--ichiro" for="input-26">
              <span class="input__label-content input__label-content--ichiro">Your Email</span>
          </label>
          </span>
          <span class="input input--ichiro">
            <input class="input__field input__field--ichiro" type="text" id="input-27" placeholder=" " required="">
            <label class="input__label input__label--ichiro" for="input-27">
              <span class="input__label-content input__label-content--ichiro">Your Phone Number</span>
          </label>
          </span>

        </div>
        <div class="col-md-6 w3_agile_mail_grid">
          <textarea name="Message" placeholder="Your Message" required=""></textarea>
          <input type="submit" value="Submit">
        </div>
        <div class="clearfix"> </div>
      </form>
    </div>
  </div>
</div>

<!-- //mail -->
<div class="map">
  <div class="container">
    <h3 class="w3l_head w3l_head1">Locate Us</h3>
    <p class="w3ls_head_para w3ls_head_para1">How to find us</p>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.7314937086867!2d-80.2805317843671!3d26.009611683524756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a61d3994a225%3A0xc1aa4c7001b836fb!2s10031+Pines+Blvd+%23217%2C+Pembroke+Pines%2C+FL+33024!5e0!3m2!1sen!2sus!4v1518056368047" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
